{{ $dateFormat := default "Mon Jan 2, 2006" (index .Site.Params "date_format") }}

<article class="blog-post">
  <header>
    <h3 class="blog-post-title" dir="auto"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h3>
    <p class="blog-post-meta"><time datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format $dateFormat }}</time> {{ i18n "authoredBy" }} {{ .Params.author | default .Site.Params.author }}{{ if or (.Params.categories) (.Params.tags) }} {{ i18n "postedIn" }} {{ partial "meta-terms.html" . }}{{ end }}</p>
  </header>
  <p style="font-size: 0.9em;">{{ .Summary }}<p>
  <a href='{{ .Permalink }}' class="btn btn-secondary btn-sm">
    <span style="font-size: 1em;"> Discover <i class="fas fa-arrow-circle-right"></i> </span>
  </a>
</article> <!-- /.blog-post -->

{{- /* vim: set ts=2 sw=2 et: */}}
